$field-height: 4rem;

.container {
  display: flex;
  flex-flow: row wrap;
}

.pageTitle {
  margin: 0.6rem 0 0.6rem 1.8rem; // t r b l
  width: 100%;
  font-family: SegoeUI;
  font-size: 4rem;
  line-height: 1.33;
  letter-spacing: 0.28rem;
  color: #3f4f7a;
}

.saveButton {
  margin: 0.5rem auto;
  opacity: 0.95;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #6896d6;
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 1.32;
  letter-spacing: 0.287rem;
  color: white;
  text-align: center;
  border: none;
  width: 15rem;
  border-radius: 3rem;
}

.undoButton {
  margin: 0.5rem auto;
  opacity: 0.95;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #d6687b;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.147rem;
  color: white;
  text-align: center;
  border: none;
  width: 7.5rem;
  border-radius: 3rem;
}

.editPanel {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.6rem 0 0.6rem 1.8rem; // t r b l
  background-color: white;
  width: 70vw;
  height: 80vh;
}

.editPanelUpperLeft {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  background-color: steelblue;
}

.editPanelUpperRight {
  background-color: teal;
}

.editPanelBottom {
  background-color: thistle;
}

.formField {
  background-color: #4357ab;
  width: 30rem;
  height: $field-height;
  margin: 0.2rem;
}

.formLabel {
  color: white;
  width: 10rem;
  height: $field-height;
  display: inline-block;
  text-align: left;
  padding-left: .5rem;
  font-size: 1.5rem;
  line-height: 250%;
}

.formLabelledInput {
  width: 20rem;
  height: $field-height;
  position: fixed;
}

.formHeader {
  background-color: #4357ab;
  margin: 0.2rem;
  height: $field-height;
  width: 13rem;
}

.formSoloInput {
  margin: 0.2rem;
  height: $field-height;
  width: 13rem;
}

.formColumn {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem;
}

.formRow {
  display: flex;
  flex-flow: row nowrap;
}

.formColumnScroll {
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  height: ($field-height * 3) + 1rem;
}
