$field-height: 4rem;
$radio-size: 2.2rem;
$add-icon-size: 3.5rem;
$delete-icon-size: 2.2rem;
$solo-field-width: 13rem;
$short-field-divider: 2;
$long-field-multiplyer: 1.75;

.container {
  display: flex;
  flex-flow: row;
  margin-top: 2em;
}

.pageTitle {
  margin: 0.6rem 0 0.6rem 1.8rem; // t r b l
  width: 100%;
  font-family: SegoeUI;
  font-size: 4rem;
  line-height: 1.33;
  letter-spacing: 0.28rem;
  color: #3f4f7a;
}

.buttonRow {
  display: flex;
  flex-direction: row;
}

.buttonColumn {
  margin-left: 12em !important;
  justify-content: center;
}

.saveButtonContainer {
  display: flex;
  flex-direction: column;
}

.saveButton {
  margin: 2rem auto;
  opacity: 0.95;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #6896d6;
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 1.32;
  letter-spacing: 0.287rem;
  color: white;
  text-align: center;
  border: none;
  width: 15rem;
  border-radius: 3rem;
  &:disabled {
    background-color: #cccccc;
  }
}

.saveButton:hover {
  cursor: pointer;
}

.undoButton {
  margin: 0.5rem auto;
  opacity: 0.95;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #d6687b;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.147rem;
  color: white;
  text-align: center;
  border: none;
  width: 7.5rem;
  border-radius: 3rem;
  &:disabled {
    background-color: #cccccc;
  }
}

.undoButton:hover {
  cursor: pointer;
}

.contactPrevButton {
  margin-top: 5rem;
  width: 7.2rem;
  height: 7.2rem;
  background-image: url("/arrowcircle-left.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  &:disabled {
    color: #cccccc;
    background-image: url("/arrowcircle-left-disabled.png");
  }
}

.contactNextButton {
  margin-top: 5rem;
  width: 7.2rem;
  height: 7.2rem;
  background-image: url("/arrowcircle-right.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  &:disabled {
    color: #cccccc;
    background-image: url("/arrowcircle-right-disabled.png");
  }
}

.deleteButton {
  flex: 1 1 $delete-icon-size;
  width: $delete-icon-size;
  max-width: $delete-icon-size;
  height: $delete-icon-size;
  max-height: $delete-icon-size;
  background-image: url("/entry-delete.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.addButton {
  flex: 1 1 $add-icon-size;
  width: $add-icon-size;
  max-width: $add-icon-size;
  height: $add-icon-size;
  max-height: $add-icon-size;
  background-image: url("/entry-add.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.editPanel {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.6rem 0 0.6rem 1.8rem; // t r b l
  background-color: white;
  width: 80vw;
  height: 84vh;
}

.editPanelUpperLeft {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  background-color: steelblue;
}

.editPanelUpperRight {
  background-color: teal;
}

.editPanelBottom {
  background-color: thistle;
}

.formField {
  background-color: #4357ab;
  width: 32rem;
  height: $field-height;
  margin: 0.2rem;
}

.formLabelledInput {
  width: 20rem;
  height: $field-height;
  position: relative;
}

.formLabel {
  color: white;
  width: 12rem;
  height: $field-height;
  display: inline-block;
  text-align: left;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 250%;
}

.formHeaderLabel {
  color: white;
  height: $field-height;
  display: inline-block;
  text-align: left;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 250%;
  width: $solo-field-width;
  min-width: $solo-field-width;
  max-width: $solo-field-width;
}

.formHeaderLabelShort {
  color: white;
  height: $field-height;
  display: inline-block;
  text-align: left;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 250%;
  width: $solo-field-width / $short-field-divider;
  min-width: $solo-field-width / $short-field-divider;
  max-width: $solo-field-width / $short-field-divider;
}

.formHeaderLabelLong {
  color: white;
  height: $field-height;
  display: inline-block;
  text-align: left;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 250%;
  width: $solo-field-width * $long-field-multiplyer;
  min-width: $solo-field-width * $long-field-multiplyer;
  max-width: $solo-field-width * $long-field-multiplyer;
}

.formHeader {
  background-color: #4357ab;
  margin: 0.2rem;
  height: $field-height;
  width: $solo-field-width;
}

.formHeaderShort {
  background-color: #4357ab;
  margin: 0.2rem;
  height: $field-height;
  width: $solo-field-width / $short-field-divider;
  min-width: $solo-field-width / $short-field-divider;
  max-width: $solo-field-width / $short-field-divider;
}

.formHeaderLong {
  background-color: #4357ab;
  margin: 0.2rem;
  height: $field-height;
  width: $solo-field-width * $long-field-multiplyer;
  min-width: $solo-field-width * $long-field-multiplyer;
  max-width: $solo-field-width * $long-field-multiplyer;
}

.formSoloInput {
  margin: 0.2rem;
  height: $field-height;
  width: $solo-field-width;
  min-width: $solo-field-width;
  max-width: $solo-field-width;
}

.formSoloInputShort {
  margin: 0.2rem;
  height: $field-height;
  width: $solo-field-width / $short-field-divider;
  min-width: $solo-field-width / $short-field-divider;
  max-width: $solo-field-width / $short-field-divider;
}

.formSoloInputLong {
  margin: 0.2rem;
  height: $field-height;
  width: $solo-field-width * $long-field-multiplyer;
  min-width: $solo-field-width * $long-field-multiplyer;
  max-width: $solo-field-width * $long-field-multiplyer;
}

.formRadio {
  flex: 1 1 $radio-size;
  width: $radio-size;
  max-width: $radio-size;
  height: $radio-size;
  max-height: $radio-size;
}

.formColumn {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem;
}

.formRow {
  display: flex;
  flex-flow: row nowrap;
}

.formRowEven {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.formColumnScroll {
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  height: auto;
  max-height: ($field-height * 3) + 1rem;
}

// Note: Phone classes marked !important to overwrite react-phone-input-2 default CSS
// =============================================================
.phoneContainer {
  margin: 0.2rem !important;
}

.phoneInput {
  height: $field-height !important;
  width: $solo-field-width * $long-field-multiplyer !important;
  min-width: $solo-field-width * $long-field-multiplyer !important;
  max-width: $solo-field-width * $long-field-multiplyer !important;
  border: 1px solid rgb(118, 118, 118) !important;
  border-radius: 0 !important;
  &:hover {
    border: 1px solid rgb(59, 59, 59) !important;
  }
}

.phoneButton {
  margin-right: 0 !important;
  height: $field-height !important;
  width: $solo-field-width * $long-field-multiplyer * 0.2 !important;
  min-width: $solo-field-width * $long-field-multiplyer * 0.2 !important;
  max-width: $solo-field-width * $long-field-multiplyer * 0.2 !important;
  border: 1px solid rgb(118, 118, 118) !important;
  border-radius: 0 !important;
  &:hover {
    border: 1px solid rgb(59, 59, 59) !important;
  }
}

.phoneDropdown {
  position: fixed !important;
}

.contactId {
  width: 152px;
  margin-top: 6rem;
  height: 54px;
  font-family: SegoeUI;
  font-size: 41px;
  font-weight: 600;
  letter-spacing: 2.87px;
  text-align: center;
  color: #4357ab;
}

.savedMsg {
  margin: 0 auto;
  width: 151px;
  height: 60px;
  font-family: SegoeUI;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 3.15px;
  text-align: center;
  color: #43ab92;
  justify-self: center;
}

.timestamp {
  margin: 0 auto;
  height: 21px;
  font-family: Poppins;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  color: #8e8e8e;
}
// =============================================================
