$field-height: 3.5rem;
$thickMargin: 0.4rem 0.1rem;
$thinMargin: 0.2rem 0.1rem;
$radio-size: 2.2rem;
$add-icon-size: 3.5rem;
$delete-icon-size: 2.2rem;
$extraShort: 4rem;
$short: 6rem;
$smedium: 8rem;
$medium: 14rem;
$long: 22rem;
$extraLong: 25rem;

.container {
  display: flex;
  flex-flow: row;
  margin-top: 2em;
}

.thinMargin {
  margin: $thinMargin;
}

.thickMargin {
  margin: $thickMargin;
}

.extraShort {
  height: $field-height;
  width: $extraShort;
  min-width: $extraShort;
  max-width: $extraShort;
}

.short {
  height: $field-height;
  width: $short;
  min-width: $short;
  max-width: $short;
}

.smedium {
  height: $field-height;
  width: $smedium;
  min-width: $smedium;
  max-width: $smedium;
}

.medium {
  height: $field-height;
  width: $medium;
  min-width: $medium;
  max-width: $medium;
}

.long {
  height: $field-height;
  width: $long;
  min-width: $long;
  max-width: $long;
}

.extraLong {
  height: $field-height;
  width: $extraLong;
  min-width: $extraLong;
  max-width: $extraLong;
}

.centered {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.aligned {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
}

.mergedField {
  background-color: #4357ab;
  width: 32rem;
  height: $field-height;
}

.mergedLabel {
  color: white;
  width: 12rem;
  height: $field-height;
  display: inline-block;
  text-align: left;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 250%;
}

.mergedInput {
  width: 20rem;
  height: $field-height;
  position: relative;
}

.floatingHeader {
  display: flex;
  justify-content: center;
  height: $field-height;
  background-color: #4357ab;
  margin: $thickMargin;
}

.floatingLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.h2 {
  color: white;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  line-height: 250%;
  font-weight: normal;
}

.radioInput {
  flex: 1 1 $radio-size;
  width: $radio-size;
  max-width: $radio-size;
  height: $radio-size;
  max-height: $radio-size;
}

.invalidInputContainer {
  position: relative;
  width: 100%;
}

.invalidDropdownContainer {
  position: relative;
  width: 100%;
}

.dropdownOption {
  background-color: white;
}

.invalidInput {
  background-color: #faf0f0;
  border: 1px solid rgb(118, 118, 118) !important;
  border-radius: 0 !important;
  &:hover {
    border: 1px solid rgb(59, 59, 59) !important;
  }
}

.invalidInputMessage {
  position: absolute;
  z-index: 1;
  font-size: 13px;
  right: 0px;
  top: -4px;
  background: #fff;
  padding: 0 2px;
  color: #de0000;
}

.pageTitle {
  margin: 0.6rem 0 0.6rem 1.8rem; // t r b l
  width: 100%;
  font-family: SegoeUI;
  font-size: 4rem;
  line-height: 1.33;
  letter-spacing: 0.28rem;
  color: #3f4f7a;
}

.buttonColumn {
  margin-left: 12em !important;
  justify-content: center;
}

.saveButtonContainer {
  display: flex;
  flex-direction: column;
}

.saveButton {
  margin: 2rem auto;
  opacity: 0.95;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #6896d6;
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 1.32;
  letter-spacing: 0.287rem;
  color: white;
  text-align: center;
  border: none;
  width: 15rem;
  border-radius: 3rem;
  &:disabled {
    background-color: #cccccc;
  }
}

.saveButton:hover {
  cursor: pointer;
}

.undoButton {
  margin: 0.5rem auto;
  opacity: 0.95;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.16);
  background-color: #d6687b;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.147rem;
  color: white;
  text-align: center;
  border: none;
  width: 7.5rem;
  border-radius: 3rem;
  &:disabled {
    background-color: #cccccc;
  }
}

.undoButton:hover {
  cursor: pointer;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  height: 7.2rem;
  align-items: center;
}

.contactPrevButton {
  width: 7.2rem;
  height: 7.2rem;
  background-image: url("/arrowcircle-left.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  &:disabled {
    color: #cccccc;
    background-image: url("/arrowcircle-left-disabled.png");
  }
}

.contactNextButton {
  width: 7.2rem;
  height: 7.2rem;
  background-image: url("/arrowcircle-right.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  &:disabled {
    color: #cccccc;
    background-image: url("/arrowcircle-right-disabled.png");
  }
}

.contactId {
  width: 152px;
  height: 54px;
  font-family: SegoeUI;
  font-size: 41px;
  font-weight: 600;
  letter-spacing: 2.87px;
  text-align: center;
  color: #4357ab;
}

.timestamp {
  margin: 0 auto;
  height: 21px;
  font-family: SegoeUI;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  color: #8e8e8e;
}

.saved {
  color: #43ab92;
  font-weight: bold;
}

.deleteIcon {
  width: $delete-icon-size * 0.75;
  min-width: $delete-icon-size * 0.75;
  max-width: $delete-icon-size * 0.75;
  height: $delete-icon-size * 0.75;
  min-height: $delete-icon-size * 0.75;
  max-height: $delete-icon-size * 0.75;
}

.deleteButton {
  flex: 1 1 $delete-icon-size;
  width: $delete-icon-size;
  max-width: $delete-icon-size;
  height: $delete-icon-size;
  max-height: $delete-icon-size;
  background-image: url("/entry-delete.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.addButton {
  flex: 1 1 $add-icon-size;
  width: $add-icon-size;
  max-width: $add-icon-size;
  height: $add-icon-size;
  max-height: $add-icon-size;
  background-image: url("/entry-add.png");
  background-size: cover;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.editPanel {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.6rem 0 0.6rem 1.8rem; // t r b l
  background-color: rgba(255, 255, 255, 0.9);
  width: 80vw;
  height: 84vh;
}

.editPanelUpperLeft {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  background-color: steelblue;
}

.editPanelUpperRight {
  background-color: teal;
}

.editPanelBottom {
  background-color: thistle;
}

.formColumn {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
}

.formRow {
  display: flex;
  flex-flow: row nowrap;
}

.formRowEven {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.formColumnScroll {
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  height: auto;
  max-height: ($field-height * 3) + 1rem;
}

.inputGroup {
  //padding: 0.5rem;
  //box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.05);
}

// Note: Phone classes marked !important to overwrite react-phone-input-2 default CSS
// =============================================================
.phoneContainer {
  margin: ($thinMargin) !important;
}

.phoneInput {
  height: $field-height !important;
  width: $long !important;
  min-width: $long !important;
  max-width: $long !important;
  border: 1px solid rgb(118, 118, 118) !important;
  border-radius: 0 !important;
  &:hover {
    border: 1px solid rgb(59, 59, 59) !important;
  }
}

.phoneButton {
  margin-right: 0 !important;
  height: $field-height !important;
  width: $long * 0.2 !important;
  min-width: $long * 0.2 !important;
  max-width: $long * 0.2 !important;
  border: 1px solid rgb(118, 118, 118) !important;
  border-radius: 0 !important;
  &:hover {
    border: 1px solid rgb(59, 59, 59) !important;
  }
}

.phoneDropdown {
  position: fixed !important;
}
// =============================================================
